/* Global Definitions */

/* Font -----------------------------------------------------------------------------------------------------------*/
@font-face {
   font-family: 'Quando';
   src: url('./Quando-Regular.ttf');
}

@font-face {
   font-family: 'Hero';
   src: url('./Hero.otf');
}

@font-face {
   font-family: 'Ostrich';
   src: url('./ostrich-regular.ttf');
}

@font-face {
   font-family: 'Ostrich-bold';
   src: url('./ostrich-bold.ttf');
}

@font-face {
   font-family: 'Ostrich-black';
   src: url('./ostrich-black.ttf');
}

html {
	background: #fff;
	font-family: Hero;
}


/* Generic elements (alphabetical order) */

button {
	background-color: #ddd;
	border: double #fff;
	color: #777;
	font-family: Ostrich;
	font-size: 34px;
	height: 2em; 
	line-height: 2em; 
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
button:hover {
	border: solid #ccc;
}
button:active {
	border: solid #aaa;
}

input {
	background-color: #ddd;
	border: double #fff;
	color: #777;
	font-family: Ostrich;
	font-size: 34px;
	height: 2em; 
	line-height: 2em; 
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
input:hover {
	border: solid #ccc;
}
input:active {
	border: solid #aaa;
}

/* DIV */ 
/* Div for titles */ 

.title {
	background-color: #444;
	color: #fff;
	font-family: Ostrich;
	font-size: 50px;
	height: 60px; 
	line-height: 67px; 
	text-align: center;
	vertical-align:middle;
}

.allentries_list_title {
	background-color: #ddd;
	color: #007;
	font-family: Ostrich;
	font-size: 34px;
	height: 50px; 
	line-height: 55px; 
	margin-top: 4px;
	text-align: center;
	vertical-align: middle;
}
.allentries_list_title:hover {
	background-color: #007;
	color: #fff;
}

.todayentries_list_title {
	background-color: #ddd;
	color: #700;
	font-family: Ostrich;
	font-size: 34px;
	height: 50px; 
	line-height: 55px; 
	margin-top: 4px;
	text-align: center;
	vertical-align: middle;
}
.todayentries_list_title:hover {
	background-color: #700;
	color: #fff;
}

.weekentries_list_title {
	background-color: #ddd;
	color: #cd7f32;
	font-family: Ostrich;
	font-size: 34px;
	height: 50px; 
	line-height: 55px; 
	margin-top: 4px;
	text-align: center;
	vertical-align: middle;
}
.weekentries_list_title:hover {
	background-color: #e8a317;
	color: #fff;
}

/* Div for the popup boxes */
#popup_box {
    position: fixed;
    top:0px;
    left:0px;
    z-index: 998;
    height: 100%;
    width: 100%;
    background-image: url('./bgdarktransp.png');
    display: none;
}
#popup_box .container {
    background-color: #fff;
	margin: 10px;
	min-height: 95%;
}
#popup_box .header {
    background-color: #fff;
	font-family: Ostrich;
	font-size: 30px;
	height: 36px; 
	line-height: 38px; 
	text-align: center;
}
#popup_box .content {
    background-color: #fff;
	min-height: 100%;
	min-width: 90%;
	margin: 20px;
	margin-top: 0px;
}#popup_box #btn_close {
    position:absolute;
    right: 0px;
    top: 0px;
}



/* BUTTON INPUT*/
/* Button to add a new entry */

input.btn_addentry {
	color: #070;
}

/* Button to close the new entry popup  REUSE???  */
input.btn_save {
	background-color: #ddd;
	color: #070;
}
input.btn_save:hover{
	background-color: #070;
	color: #fff;
}

/* Button to close the new entry popup  REUSE???  */
input.btn_close {
	background-color: #ddd;
	color: #700;
}
input.btn_close:hover{
	background-color: #700;
	color: #fff;
}




/* STRUCTURE */
/* Button Table, 2 Buttons */

table.Table_2btn {
  	margin-top: 10px;
    table-layout: fixed;
    width: 100%;
}
    
table.Table_2btn td.Table_2btn_cell {
    width: 100%;
}

/* List, List of entries */

li#list_entry {
	border: solid #ddd;
	color: #777;
	font-family: Hero;
	font-size: 24px;
	height: 40px; 
	line-height: 40px; 
	list-style-type: none;
	text-align: left;
	vertical-align:middle;
}
li#list_entry:hover {
	border: solid #aaa;
}
